%html
  %head
    %title = 'Localstarter'
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag :defaults
    = csrf_meta_tags
   
  %body
    %h1 Localstarter
    = yield